@font-face {
    font-family: "Open_Sans";
    src: url(../Fonts/Gilroy-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Chronicle";
    src: url(../Fonts/Chronicle\ Display\ Semibold.otf) format("truetype");
}

body{
    background: #000 top url(../Images/background.jpeg) no-repeat;
    color :white;
    margin:0;
    font-family:Open_Sans;
}

#header{
    width:90%;
    height:auto;
    margin:auto;
    margin-top: 20px;
    display:flex;
    justify-content: space-between;
}

#header h1{
    font-family: Chronicle;
}

#header h3{
    height:25px;
    padding:10px;
}

#burger{
    width:80px;
    position: absolute;
    display: none;
}

#burger_container{
    width:50px;
    height:50px;
    display:none;
    position:absolute;
    background: none;
    border:none;
    margin-top:18px;
}

#burger hr{
    margin-bottom:5px;
    border:solid rgb(0, 0, 0) 3px;;
}

#burgerdropdown{
    width:180px;
    height:auto;
    display:flex;
    flex-direction: column;
    display:none;
    position:absolute;
    border: solid #000 1px;
}

#burgerdropdown a{
    color:#000;
}

#burger:hover #burgerdropdown {display: block;}

#burger:hover #burgerdropdown {background-color: #ffffff;}

#burgerdropdown a:hover {background-color: #ddd;}

.nodeco{
    text-decoration: none;
    color:#fff
}

#onglet{
    width:300px;
    height:auto;
    display:flex;
    justify-content: space-between;
}

#account{
    width : 125px;
    height : 50px;
    display:flex;
    align-items: center;
    margin-top:15px;
    padding:10px;
}

#account img{
    width:20px;
    height:20px;
    margin-right : 2px;
}

#introduction{
    width:auto;
    height:auto;
    margin-top: 200px;
    display:flex;
    justify-content:space-between;
    align-items: center;
}

#reseau{
    width: 70px;
    height:160px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size:18px;
    margin-right:50px;
}

#reseau img{
    width:30px;
    height:30px;
    margin-right : 2px;
}

#titre{
    width:60%;
    height:310px;
    margin: auto;
    display: flex;
    flex-direction:column;
    justify-content:center;
}

#titre h1{
    font-size:80px;
    font-family: Chronicle;
}

#titre h3{
    width:120px;
    height:30px;
}

.jaune{
    width:auto;
    display: flex;
    color:rgb(236, 193, 0);
    align-items: center;
    justify-content: flex-start;
}

.jaune span{
    font-size:22px;
}

.jaune hr{
    width:72px;
    height:2px;
    margin-top:13px;
    margin-right: 20px;
    vertical-align: middle;
    background-color: rgb(236, 193, 0);
    border-width:0px;
    float:left;
    margin-inline-start: 0;
}
#page{
    width:110px;
    height:auto;
}

#page_text{
    width:80px;
    height:auto;
}

#page_text p{
    height:20px;
    content: "";
    display: block;
    margin-top:0;
    margin-bottom:50px;
    font-size:18px;
}

#page_bar{
   width:20px;
   height:280px;
}

.page_bar_background{
    width: 3px;
    height: 100%;
    border: none;
    background: #fff;
    opacity: 0.5;
    position: relative;
}

.page_bar_active{
    width: 3px;
    height: 60px;
    border: none;
    background: #fff;
    position: absolute;
    z-index: 3;
    right:8px;
}

#degrader{
    
    width:100%;
    height:700px;
    margin-top:200px;
    z-index: auto;
}

#background{
    background-color:#0b1d27;
    width:auto;
    height:2500px;
    z-index: auto;
    margin-top:200px;
}

#content{
    max-width:1462px;
    min-width:522px;
    height:auto;
    position:absolute;
    left:10%;
    top: 1300px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.info{
    width:100%;
    height:auto;
    display:flex;
    margin-top:200px;
    justify-content:space-around;
    flex-wrap: wrap;
}

.info img{
    width:522px;
    height:720px;
}

.text{
    width:632px;
    height:510px;
    margin: auto;
    display: flex;
    flex-direction:column;
    justify-content:center;
}

.text h1{
    font-size:80px;
    font-family: Chronicle;
}

.text h3{
    color:rgb(236, 193, 0);
    width:110px;
    height:30px;
}

.number{
    width:280px;
    height:auto;
    position:absolute;
    opacity: 10%;
    font-size:180px;
    left:3%;
    color:white;
}

#deuxieme{
    left:40%;
}

#footer{
    width:auto;
    height:280px;
    display:flex;
    justify-content:space-around;
    background-color:#0b1d27;
}

#slogan{
    width:300px;
    height:auto;
}

#copyright{
    margin-top : 100px;
    color:gray;
}

#more_container{
    width:500px;
    height:auto;
    display: flex;
    justify-content: space-between;
}

.more{
    width:220px;
    height:auto;
}

.more h3{
    color:rgb(236, 193, 0);
}

@media (max-width:1299px) {
    #background{
        height:4000px;
    }

    #nb2{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    #deuxieme{
        left:5%;
    }
}

@media (max-width:1068px) {
    #introduction{
        flex-direction: column-reverse;
    }

    #page, #page_text, #page_bar{
        display:none;
    }

    #reseau{
        writing-mode: horizontal-tb;
        width:200px;
        height:40px;
        display: flex;
        align-items: center;
        margin-top:250px;
    }
}

@media (max-width:780px) {
    #burger{
        position:relative;
        display:inline-block;
    }

    #burger_container{
        display:block;
        position:relative;
    }

    #burger_container hr{
        border:solid #000 3px;
    }

    #onglet, #account{
        display:none;
        position:absolute;
    }

    #header{
        background-color: #fff;
        margin:0;
        margin-top:0;
        width:100%;
        color:#000;
        justify-content: space-around;
        border-bottom : solid #000 2px;
    }
}